#SearchHolder {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;

  form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    width: 100%;

    label {
      font-size: 4rem;
      font-weight: bold;
    }

    #SearchID {
      font-size: 1.5rem;
      border-radius: 10px;
      width: 20rem;
      text-align: center;
      outline: none;
      padding: 0.25rem;
    }
  }
  div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 400px) {
  #SearchID {
    width: 80% !important;
  }
}
