<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<section>
  <h1>ABOUT</h1>
  <section>
    <article id="why">
      <div>
        <img alt="Question mark" [src]="aboutIcons.whyIconSrc">
        <h2>Why?</h2>
      </div>
      <span>This project has been created to grow my portfolio. And help me secure a job in the near future, another reason is that I wanted to make a social media-esque site</span>
    </article>

    <article id="mission">
      <div>
        <img [src]="aboutIcons.missionIconSrc" alt="Goal">
        <h2>Mission</h2>
      </div>

      <ul style="list-style: none; padding: 0">
        <li><span>1. Free sharing of knowledge</span></li>
        <li><span>2. Anonymity</span></li>
        <li><span>3. Message permanence</span></li>
      </ul>
    </article>

    <article id="creator">
      <div>
        <img alt="Creator" [src]="aboutIcons.personSolid">
        <h2>Creator</h2>
      </div>
      <span>Hi! I'm Marek, I am a developer from the Czech Republic. I am currently studying in High-School, and as per advice of my teacher I have began growing my portfolio</span>
    </article>

  </section>
</section>
</body>
</html>
