<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Title</title>
</head>
<body>
<div id="Posts">
  <app-post-creation (formHandling)="onFormInteraction($event)"></app-post-creation>
  <section id="Showcase">
    <app-post *ngFor="let post of posts.posts" [postData]="post"></app-post>
  </section>
</div>
</body>
</html>
