#Posts {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 4rem;
  width: 100%;
}

@media (max-width: 1400px) {
  #Posts {
    grid-template-columns: 1fr !important;
    gap: 1rem !important;
  }
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
