<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Title</title>
</head>
<body>
<header>
  <nav class="nav">
    <ul id="Left-Nav-Bar">
      <li><a routerLink="" ><h2  id="Brand-Name"> {{ title }} </h2></a></li>
      <li><a routerLink="about" [routerLinkActive]="['active']" class="pages">About</a></li>
      <li><a routerLink="search" class="pages" [routerLinkActive]="['active']">Search</a></li>
      <li><a routerLink="rules" class="pages" [routerLinkActive]="['active']">Rules</a></li>
    </ul>
    <a routerLink="" id="Post-Button">POST</a>
  </nav>
</header>
<section id="Content-Display">
  <router-outlet>

  </router-outlet>
</section>
<div id="Background">

</div>
</body>
</html>
