<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<header>
  <nav>
    <ul id="Left-Nav-Bar">
      <li><a routerLink=""><h2 id="Brand-Name"> {{ title }} </h2></a></li>
      <li><a routerLink="About" class="pages">About</a></li>
      <li><a class="pages">Search</a></li>
      <li><a routerLink="Rules" class="pages">Rules</a></li>
    </ul>
    <a routerLink="" id="Post-Button">POST</a>
  </nav>
</header>
<section id="Content-Display">
  <router-outlet>

  </router-outlet>
</section>
<div id="Background">

</div>
</body>
</html>
