/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  position: relative;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  color: #FFFFFF;
  font-family: 'Mulish', sans-serif;
}
